{
  "singleQuote": false,
  "trailingComma": "es5",
  "semi": true,
  "printWidth": 120,
  "jsxBracketSameLine": true,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    }
  ]
}
